@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap');

.navbar {
    box-shadow: rgba(33, 35, 38, 0.178) 0px 10px 10px -10px;
}
.navbar-brand {

    text-shadow: 0px 8px 24px rgba(149, 157, 165, 0.109) ;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(255, 155, 116, 0.986) !important;
}
.navbar-brand span {
    color: rgb(235, 222, 112);
}
.search {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgb(229, 231, 233);
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    border-radius: 8px;
    transition: border 280ms ease 0s;
    margin-top: 4px;
}
.searchBar {
    width: 100%;
    margin: 0px;
}
.searchInput {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
}
.searchControl {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    color: rgb(69, 121, 118);
    font-family: inherit;
    background-color: transparent;
    line-height: 22px;
    border: none;
    outline: none;
    height: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.searchBar div input {
    border: 0px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 0px;
}
.bt-search {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer !important;
    padding: 0px;
    transition: background-color 280ms ease 0s;
    transition-property: background-color;
    transition-duration: 280ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    width: 40px;
    background-color: rgb(243, 244, 245);
    flex: 0 0 auto;
}
.searchBar div {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
}
.searchInput div button::after{
    background-size: 20px !important;
}
.bt-search::after {
    content: "";
    border-radius: 8px;
    height: 31px;
    margin-top: -15px;
    background-size: 24px !important;
    background-image: url(../asset/icon/search.svg);
    background-repeat: no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    inset: 0px;
    z-index: 99;
    background-color: rgb(224 224 224);
}
.form-src {
    margin-top: 3px;
    width: 60%;
}

.icon-toko {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer !important;
    padding: 0px;
    transition: background-color 280ms ease 0s;
    transition-property: background-color;
    transition-duration: 280ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    width: 40px;
    background-color: rgb(243, 244, 245);
    flex: 0 0 auto;
}
.icon-toko::after {
    content: "";
    height: 31px;
    width: 30px;
    background-repeat: no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    margin-top: 6px;
    transform: rotateY(180deg);
}
.icon-toko.shop-cart::after {
    background-size: 24px;
    background-image: url(../asset/icon/shopping-cart.svg);
}
.icon-toko.bell-icon::after {
    background-size: 20px;
    background-image: url(../asset/icon/bell.svg);
}
.icon-toko.email-icon::after {
    background-size: 20px;
    background-image: url(../asset/icon/email.svg);
}
.icon-toko.task-icon::after {
    background-size: 20px;
    background-image: url(../asset/icon/task.svg);
}
.icon-toko:hover:after {
    background-size: 28px !important;
}
.navbar-nav, .login {
    margin-left: 10px;
}
.daftar a button {
    width: 100px;
    background-color: #a6a6a6;
    border-color: #a6a6a6;
}
.login a button {
    width: 100px;
    background-color: #a6a6a6;
    border-color: #a6a6a6;
}
.carousel-cont {
    margin-top: 20px;
}
.rounded {
    border-radius: 0.7rem !important;
}
.carousel-control-icon {
    background-color: white;
}
.category {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.title-category h3 {
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}
.list-category {
    flex-wrap: wrap;
}
.list-category a {
    color: black;
    text-decoration: none;
}
.list-category .card {
    width: 7.68em;
    height: 150px;
}
.list-category .card:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.list-category .card-img-top {
    margin: auto;
    width: 80px;
}
.list-category .card-title {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25rem;
    max-height: 2.5rem;
    word-break: break-word;
}
@media (min-width: 576px) {
    .navbar-brand {
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .collapse .navbar-collapse {
        display: flex !important;
    }
    
}